@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-image: radial-gradient(
			90% 80% at 50% 100%,
			var(--color-bg-3) 0%,
			var(--color-bg-0) 100%
		),
		linear-gradient(90deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
	font-family: var(--font-body);
	color: var(--color-text);
}

:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #000000;
	--color-bg-1: #161616;
	--color-bg-2: #060300;
	--color-bg-3: #140c05;
	--color-fg-1: #f68f3b;
	--color-fg-2: #eb7425;
	--color-text: #fff;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

.card {
	background-image: radial-gradient(
			100% 100% at 50% 0%,
			var(--color-bg-3) 0%,
			var(--color-bg-0) 100%
		);
	box-shadow: 0 2px 0.5rem var(--color-bg-1);
}